[*.cs]

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# ChangeMagicNumberToID: Change magic numbers into appropriate ID values
dotnet_diagnostic.ChangeMagicNumberToID.severity = none
dotnet_diagnostic.IDE0051.severity=warning
dotnet_diagnostic.IDE0052.severity=warning
dotnet_diagnostic.IDE0041.severity=silent
dotnet_diagnostic.IDE0059.severity=warning
dotnet_diagnostic.IDE0100.severity=suggestion
dotnet_diagnostic.IDE0120.severity=warning
dotnet_diagnostic.IDE0090.severity=warning
dotnet_diagnostic.IDE1005.severity=warning
dotnet_diagnostic.IDE0083.severity=warning
dotnet_diagnostic.IDE0074.severity=warning
dotnet_diagnostic.IDE0078.severity=warning

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

[*.{cs,vb}]
end_of_line=lf
dotnet_style_prefer_auto_properties=true:warning